<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94278016873-8e6ak7hemg02nvjqn0c0ispvm3jf5pi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94278016873-8e6ak7hemg02nvjqn0c0ispvm3jf5pi6</string>
	<key>API_KEY</key>
	<string>AIzaSyCDS-dg7Cfpug7Y66JrPHkClM2MNr-dlOA</string>
	<key>GCM_SENDER_ID</key>
	<string>94278016873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wyattbodle.Faith-sApp</string>
	<key>PROJECT_ID</key>
	<string>faithmessageapp</string>
	<key>STORAGE_BUCKET</key>
	<string>faithmessageapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94278016873:ios:fc3745d0b35bf91f9ee7f8</string>
	<key>DATABASE_URL</key>
	<string>https://faithmessageapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>